fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
matplotlib
seaborn
mlflow
dvc[gcs]
shap
fairlearn
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
locust
